<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 *ngIf="hiddenMessage">{{messageEmptyList}}</h1>
    <div class="containerCards" *ngFor="let item of listItemsConvo">
      <ion-card mode="ios" color=medium>
        <ion-card-content class="display">
          <ion-card-title>{{item.nombre_item}}</ion-card-title>
          <ion-label>{{item.hora_laboral}} Hrs/Mes</ion-label>
          <ion-label>{{item.nro_items}} Vacantes</ion-label>
          <ion-button color="danger" (click)="inscripcionItem(item.id)">Postular</ion-button>
        </ion-card-content>
      </ion-card>
          
    </div>
  </div>
</ion-content>
