<ion-footer>
<div class="containerFooter">
      <div class="redes">
        <ion-avatar *ngFor="let red of redes">
          <a target="_blank" href="{{red.url}}"> <img src="{{red.logo}}" alt=""></a>
        </ion-avatar>
      </div>

    </div>
</ion-footer>
