<app-header titulo = "Convocatorias"></app-header>

<ion-content>
  <div class="container">
    <div class="secretary">
        <ion-toolbar>
            <ion-button slot="end" color=danger >Eliminar Convocatoria Actual</ion-button>
        </ion-toolbar>
        <h1>Publicar Convocatoria</h1>
        <div class="upload">
            <ion-label>Insertar Archivo Pdf:</ion-label>
            <div class="containerUp">
                <ion-button color= danger >Insertar</ion-button>
                <ion-label>nombre.pdf</ion-label>
            </div>
            <div class="containerData">
                <ion-item>
                    <ion-label>Fecha de Publicaion:</ion-label>
                    <ion-datetime></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Fecha de Resepcion de Documentos:</ion-label>
                    <ion-datetime></ion-datetime>
                </ion-item>
            </div>
        </div>
        <div class="btn">
            <ion-button color=danger>Publicar</ion-button>
            <ion-button color=danger>Cancelar</ion-button>

        </div>
      </div>
    </div>

</ion-content>

