
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="containerCards" *ngFor="let convocatory of convocatories">
    <ion-card mode="ios" class="card">
      <button class="btnTitte" routerLink="item" (click)="sendId(convocatory.id)">
        <ion-card-header>
          <ion-card-title>{{convocatory.nombre_conv}}</ion-card-title>
        </ion-card-header>
      </button>
      <ion-card-content class="contentCard">
          <div class="containerInform">
            <h2>Facultad: {{convocatory.facultad}}</h2>
            <h2>Carrera: {{convocatory.carrera}}</h2>
            <h2>Departamento: {{convocatory.departamento}}</h2>
          </div>
        <div class="containerDate">
          <h2>Fecha Publicacion</h2>
          <h2>{{convocatory.fecha_actual}}</h2>
          <h2>Fecha limite entrega de documentos</h2>
          <h2>{{convocatory.fecha_limite}}</h2>
        </div>
        <div class="containerBtn">
          <ion-button expand=full color=danger routerLink='createitem' (click)="sendId(convocatory.id)">AÑADIR ITEM</ion-button>
          <ion-button expand=full routerLink='requirements' (click)="sendId(convocatory.id)" >AÑADIR REQUISITO</ion-button>
        </div>
      </ion-card-content>
   </ion-card>
  </div>
</ion-content>
