.container{
    width: 90%;
    margin: auto;
}
.form{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}
.box{
    width: 50%;
}
.errorsMessages{
    background-color: white;
    font-family: open sans;
    color:#eb445a;
}
.seccionList{
    display: flex;

    //background-color: #92949c;
}
.name{
    width: 60%;
    margin-right: 2px;
}
.point{
    width: 30%;
    margin-right: 2px;
}
.btn{
    width: 10%;
}
.btns{
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}