<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center;margin-top: 25px;">Requisitos Obligatorios</ion-title>
      <ion-list class="requisitos" >
        <ion-list-header color="danger">
          <ion-label>Requisito</ion-label>
          <ion-label>Archivo/Documento</ion-label>
          <ion-label>Validar</ion-label>
          <!--<ion-label>Observaciones</ion-label>-->
        </ion-list-header>
        <div class="section" *ngFor="let requisito of listaDeRequisitos">
          <div class="block">
            <ion-item>
              <ion-label>{{requisito.name_req}}</ion-label>
            </ion-item>
          </div>
          <div class="block">
            <ion-item> 
              <a href={{requisito.file_dir}} target="_blank" ><ion-label><ion-text color="primary">{{requisito.name_req}}.pdf </ion-text></ion-label></a>
            </ion-item> 
          </div>
          <div class="block">
            <ion-item>
              <ion-checkbox [(ngModel)]="requisito.estado" (click)="updateEstado(requisito.idFile,requisito.estado)" mode="ios" color="danger"></ion-checkbox>
            </ion-item>   
          </div>

          <!--<div class="block">
            <ion-item>
              <ion-input ></ion-input>
            </ion-item>
          </div>-->
        </div>
      </ion-list>
  <div class="btn">
    <ion-button color="danger" (click)="inhabilitarPostulante()">Inhabilitar Postulante</ion-button>
    <ion-button color="danger" [disabled]="disabledBtn" (click)="habilitarPostulante()">Habilitar Postulante</ion-button>
  </div>
</ion-content>
