.secciones{
    width: 80%;
    margin: auto;
    display: flex;
}
.requisitos{
    width: 80%;
    margin: auto;
}
.documentos{
    width: 20%;
}
.validaciones{
    width: 10%;
}
.observaciones{
    width: 30%;
}
.btn{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 33.3%;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}