<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <h1>Convocatorias Que Participa</h1>
    <div *ngIf="emptyMessageListPostulHidden">
      <h1> No participa en ninguna convocatoria </h1>
    </div>
    <ion-card mode="ios" style="width: 70%; margin: 20px auto;"
              *ngFor="let postulation of listInscriptionConv">
    <ion-card-header  class="colorHeaderCard"
                      mode="ios"
                      button="true"
                      routerLink="req-opcionales"
                      (click)="irOpcionales(postulation.id)">
      <ion-card-title style="--color:white !important;">{{postulation.nombre_conv}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="display: flex;align-items: center;justify-content: space-between;">
      <ion-list>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Publicaión: {{postulation.fecha_actual}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Limite: {{postulation.fecha_limite}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list style="display: flex;flex-direction: column;">
        <ion-button class="colorBtn2"(click)="deleteInscription(postulation.id)">Abandonar</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </div>

  <div class="container">
    <h1>Convocatorias Vigentes</h1>
  <ion-card mode="ios" style="width: 70%; margin: 20px auto;"
            *ngFor="let convocatory of convocatories">
    <ion-card-header class="colorHeaderCard">
      <ion-card-title style="--color:white !important;">{{convocatory.nombre_conv}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="display: flex;align-items: center;justify-content: space-between;">
      <ion-list>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Facultad: {{convocatory.facultad}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Carrera: {{convocatory.carrera}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Departamento: {{convocatory.departamento}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Publicaión: {{convocatory.fecha_actual}}</ion-text>
        </ion-item>
        <ion-item style="display: flex; flex-direction: row;">
          <ion-text>Fecha Limite: {{convocatory.fecha_limite}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list style="display: flex;flex-direction: column;">
        <ion-button class="colorBtn3" (click)="sendData(convocatory.id)">Participar</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>    

    
    <div *ngIf="false">
      <form [formGroup]="inscriptionConvocatoryForm">
        <ion-item>
          <ion-label>Id_User</ion-label>
          <ion-input type="number" formControlName="idUser"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Id_Conv</ion-label>
          <ion-input type="number" formControlName="idConv"></ion-input>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>