<ion-content>
  <div class="container">
    <form class="formContainer" [formGroup]="comisionForm" (ngSubmit)=submit()>
      <ion-title style="text-align: center;margin-top: 20px;">Formulario de Registro</ion-title>
      <ion-item>
        <ion-label position="floating">Nombre Completo(*):</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.name">
        <ng-container *ngIf="name.hasError(errorMessage.type) && (name.dirty || name.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position="floating">Nombre de Usuario(*):</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.userName">
        <ng-container *ngIf="userName.hasError(errorMessage.type) && (userName.dirty || userName.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña(*):</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.password">
        <ng-container *ngIf="password.hasError(errorMessage.type) && (password.dirty || password.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña(*):</ion-label>
        <ion-input type="text" formControlName="passwordConfirm"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.passwordConfirm">
        <ng-container
          *ngIf="passwordConfirm.hasError(errorMessage.type) && (passwordConfirm.dirty || passwordConfirm.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
        <ng-container *ngIf="comisionForm.hasError('notSame')">
          <small class="errorsMessages">Las contraseñas no coinciden</small>
        </ng-container>
      </div>



      <div class="btnContainer">
        <ion-button type="submit" color="danger" [disabled]="!comisionForm.valid">Agregar Usuario</ion-button>
      </div>
    </form>      
    <ion-title style="text-align: center;">Usuarios Comision Actuales</ion-title>
    <div class="userListContainer" *ngFor="let user of userComisionList">
      <ion-card mode="ios" color=medium class="cardContainer">
          <ion-card-title>{{user.first_name}}</ion-card-title>
          <ion-button color="danger" (click)="presentModal()" (click)="sendIdUser(user.id)">Asignar Convocatoria</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>