
.my-custom-class{
    --background:#404B69!important;
}


.container{
    width: 90%;
    margin: auto;
}
.secciones{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
}
.nombre{
    width: 30%;
}
.porcentajeMax{
    width: 25%;
}
.porcentajeActual{
    width: 20%;
}
.modificar{
    width: 20%;
}
.secciones2{
    width: 80%;
    margin: auto;
    display: flex;
}
.requisitos{
    width: 80%;
    margin: auto;
}
.documentos{
    width: 20%;
}
.validaciones{
    width: 10%;
}
.observaciones{
    width: 30%;
}
.btn{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 100%;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}