<ion-header>
  <ion-toolbar>
    <ion-title>Requisitos Obligatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text class="padding" style="margin-top: 10px;">
      Para poder participar debe subir los siguientes requisitos
      <span id="bold">obligatorios</span>:
    </ion-text>
    <div id="padding">
      <form>
        <div *ngFor="let item of shortnamesArray; let i = index;" class="subpadding">
          <label>{{item}}</label><br>
          <input type="file" accept=".pdf" (change)="checkFile($event,i)" required>
          <br>
          <ion-text *ngIf="failFormat[i]">
            <small style="color: red;">
              El archivo debe ser formato *.pdf
            </small>
          </ion-text>
        </div>
      </form>
      <div class="btn">
        <ion-button class="tamaño" color=danger fill="outline" (click)="deleteInscription()">Cancelar</ion-button>
        <ion-button type="submit" class="tamaño" color=danger disabled
          *ngIf="failFormat.length<shortnamesArray.length || failFormat.includes(true)">Enviar</ion-button>
        <ion-button type="submit" class="tamaño" color=danger
          *ngIf="failFormat.length==shortnamesArray.length && !failFormat.includes(true)" (click)="irAOpcionales()">
          Enviar</ion-button>
      </div>
    </div>
  </div>
</ion-content>