<ion-content>
  <div class="tittle">
    <ion-toolbar>
      <h1>Crear Item</h1>      
    </ion-toolbar>
  </div>
  <div class="containerForm">
    <form [formGroup]="itemForm" (ngSubmit)=submit($event)>
      <ion-item color=medium>
        <ion-label position="floating">Nombre Item</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.name">
        <ng-container *ngIf="name.hasError(errorMessage.type) && (name.dirty || name.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <ion-item *ngIf="false">
        <ion-label>Id Convocatoria</ion-label>
        <ion-input type="number" formControlName="idConv"></ion-input>
      </ion-item>

      <ion-item color=medium>
        <ion-label position="floating">Numero Horas Laborales</ion-label>
        <ion-input  type="text" formControlName="hrWork"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.hrWork">
        <ng-container *ngIf="hrWork.hasError(errorMessage.type) && (hrWork.dirty || hrWork.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <ion-item color=medium>
        <ion-label position="floating">Items Requeridos</ion-label>
        <ion-input type="text" formControlName="itRequerid"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.itRequerid">
        <ng-container *ngIf="itRequired.hasError(errorMessage.type) && (itRequired.dirty || itRequired.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>

      <div class="containerBtn">
        <ion-button expand="block" color="danger" type="submit" [disabled]="!itemForm.valid">AGREGAR</ion-button>
      </div>
    </form>
  </div>
</ion-content>
