.btn{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tamaño{
    width: auto;
}
h2{
    margin-top: 10%;
    text-align: center;
}
.container{
    margin: auto;
    width: 50%;

}
.errorsMessages{
    font-family: open sans;
    color: rgb(209, 9, 9);
}
.messageAuthError{
    width: 100%;
    background: rgb(207, 79, 79);
    color: white;
}
@media screen and(max-width:500px){
    .container{
        width: 100%;
        margin: auto;
    }
    .container ion-label{
        font-size: 15px;
    }
    h1{
        margin: 0;
    }
}