.header{
    --background:#233142 !important;
    --color:#ffffff !important;
    padding: 0px 20px 0px 0px;
}
.headerList{
    --background:#f73859 !important;	
    --color:#ffffff !important;
}
.icon{
    color:#f95959 !important;
}
.btn{
    --background:#f73859 !important;
}
.secciones{
    width: 100%;
    margin: auto;
}
.requisitos{
    width: 100%;
    margin: auto;
}
.documentos{
    width: 20%;
}
.validaciones{
    width: 10%;
}
.observaciones{
    width: 30%;
}
.btn2{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 33.3%;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}