.position{
  text-align: center;
}
#container {
  text-align: center;
  width: 50%;
  margin: auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
  text-align: justify;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  font-family: Open Sans;
}
.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
ion-content ion-toolbar ion-button{
 //display:none;
}
.inscripcion{
 //display:none;
}

@media screen and (max-width:500px){
  #container{
    width: 100%;
  }
  #container p{
    text-align: justify;
  }
}
