<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header color=medium class="cardHeader">
        <ion-card-title>Generar Códigos de Verificación para el Postulante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="container">
          <div class="btn">
            <ion-item>
            <ion-label position="floating">Ingrese correo electrónico <ion-text color="danger">*</ion-text></ion-label>
            <ion-input  [formControl]="emailCtrl"></ion-input>
            </ion-item>
            <ion-text *ngIf="emailCtrl.errors && emailCtrl.dirty">
              <small *ngIf="emailCtrl.hasError('email')" style="color: red;">
                Debe tener la forma estandar de un correo electrónico.
              </small>
            </ion-text> 
          </div>
    
            <ion-button color=danger (click)="pedirCodigo('Postulante')" [disabled]="!emailCtrl.valid">
              Generar y Enviar Código</ion-button>
            <!--<ion-button color=danger (click)="pedirCodigo('Comision')" [disabled]="emailCtrl.hasError('email')">Comisión
            </ion-button>-->
            <ion-title>CODIGO</ion-title>
            <div class="codigo">
              <h1 *ngIf="codigo" style="color: black;border-radius: 4px solid black;">{{codigo}}</h1>
            </div>

            <!--<ion-button color=danger (click)="limpiar()" class="limpiar">Limpiar</ion-button>-->
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>