
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.cardHeader{
    text-align: center ;
}
.codigo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    width: 70%;
    margin: auto;
    height: 100px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.limpiar {
    display: block;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 3px auto;
}
.formConvocatory{
    width: 50%;
    margin: auto;
}
.containerCards{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#email {
    align-items: center;
    font-size: 0.8rem;
    border-radius:0rem 0rem 0.5rem 0.5rem;
    width: 70%;
    margin: 0 auto;

}

@media (prefers-color-scheme: dark) {
  #email {
		color: white;
    border: 2px solid white;
  }


}

@media (prefers-color-scheme: light) {
  #email {
		color: black;
		border: 2px solid #f2f2f2;
  }
}