<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Calificación de Meritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Secciones Para la Calificación de Meritos</ion-title>
  <div class="container">
    <!--<form class="form" [formGroup]="seccionForm" (ngSubmit)=guardarConfiguracion($event)>
      <div class="box">
        <ion-item>
          <ion-label position="floating">Nombre de la sección</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
      </div>
      <div class="box">
        <ion-item>
          <ion-label position="floating">Puntuación Máxima (%)</ion-label>
          <ion-input type="number" formControlName="puntos"></ion-input>
        </ion-item>
      </div>
      <ion-button type="submit" [disabled]="!seccionForm.valid" color="danger">Agregar</ion-button>
    </form>-->

    <div class="secciones">
      <ion-list class="seccion">
        <ion-list-header color="danger">Secciones</ion-list-header>
        <ion-item *ngFor="let seccion of listaDeSecciones">
          <ion-label>{{seccion.nombre}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="seccion">
        <ion-list-header color="danger">Puntuación Asignada</ion-list-header>
        <ion-item *ngFor="let seccion of listaDePuntos">
          <ion-label>{{seccion.puntos}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list class="puntos">
        <ion-list-header color="danger">Modificar Puntos</ion-list-header>
        <form [formGroup]="seccionForm" *ngFor="let seccion of listaDeSecciones">
          <ion-item>
            <ion-input formControlName="puntos"></ion-input>
            <ion-button color="danger" (click)="asignar(seccion.id)">Asignar Puntuación</ion-button>
          </ion-item>          
        </form>
      </ion-list>
    </div>
    <ion-text style="text-align: center;" color="medium"><h3>Porcentaje Total: {{sumaTotal}} %</h3></ion-text>
    <div class="btn">
          <ion-button routerLink="reqoptions" (click)="sendIdConv()" color="danger">Continuar</ion-button>
    </div>
  </div>
</ion-content>
