<ion-content>
  <div class="containerForm">
    <div class="tittle">
      <h1>Crear Convocatoria</h1>
    </div>
    <form [formGroup]="convocatoryForm" (ngSubmit)=submit($event) >
      <ion-item color="medium">
        <ion-label position="floating">Nombre Convocatoria:</ion-label>
        <ion-input type="text" formControlName="nameConv"></ion-input>
      </ion-item>
      <div *ngFor="let errorMessage of errorsMessages.nameConv">
        <ng-container *ngIf="nameConv.hasError(errorMessage.type) && (nameConv.dirty || nameConv.touched)">
          <small class="errorsMessages">{{errorMessage.message}}</small>
        </ng-container>
      </div>
      <ion-item color="medium" >
        <ion-label>Facultad:</ion-label>
        <ion-select mode="md" interface="popover" formControlName="facultad">
          <ion-select-option>Ciencias y Tecnologia</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color="medium" >
        <ion-label >Carrera:</ion-label>
        <ion-select mode="md" interface="popover" formControlName="carrera">
          <ion-select-option>Informatica</ion-select-option>
          <ion-select-option>Sistemas</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color="medium">
        <ion-label>Departamento:</ion-label>
        <ion-select mode="md" interface="popover" formControlName="departamento">
          <ion-select-option>Informatica y Sistemas</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color="medium">
        <ion-label>Fecha de publicacion:</ion-label>
        <ion-datetime formControlName="dateActual"></ion-datetime>
      </ion-item>
      <ion-item color="medium">
        <ion-label>Fecha limite entrega de documentos:</ion-label>
        <ion-datetime formControlName="dateLimit"></ion-datetime>
      </ion-item>
      <div class="containerBtn">
        <ion-button expand="full" color="danger" type="submit" [disabled]="!convocatoryForm.valid">AGREGAR</ion-button> 
      </div>
    </form> 
  </div>

</ion-content>
