.containerForm{
    width: 60%;
    margin: auto;
}
.containerBtn{
    width: 20%;
    margin: auto;
    padding: 10px;
}
.errorsMessages{
    background-color: white;
    font-family: open sans;
    color:#eb445a;
}
.tittle{
    width: 100%;
    text-align: center;
    margin: auto;
}