.container{
    width: 90%;
    margin: auto;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.box{
    width: 50%;
}
.errorsMessages{
    background-color: white;
    font-family: open sans;
    color:#eb445a;
}
.seccionList{
    width: 95%;
    display: flex;
    margin: auto;
    //background-color: #92949c;
}
.name{
    width: 50%;
    margin-right: 2px;
}
.point{
    margin-right: 2px;
}
.pointMax{
    margin-right: 2px;
}
.btns{
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}