.container{
    width: 90%;
    margin: auto;
}
.secciones{
    display: flex;
    justify-content: space-between;
}
.form{
    display: flex;
}
.box{
    width: 20%;
}
.box1{
    width: 10%;
}
.nombre{
    width: 50%;
}