<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" color="medium"mode="ios"
            *ngFor="let item of listaDeItems">
        <ion-text><h3>{{item.nombre_item}}</h3></ion-text>
        <ion-button routerLink="usuarios" color="danger" (click)="enviarIdItem(item)">Ver Postulantes</ion-button>
  </ion-card>
</ion-content>
