
<ion-content>
  <div class="container">
    <div class="containerCards" *ngFor="let convocatoria of convocatorias">
        <ion-card color=medium mode="ios" >
            <button class="containerCardBtn" routerLink="listusers" (click)="goToItems(convocatoria.id)">
              <div class="cardTittle">
               <ion-card-title >{{convocatoria.nombre_conv}}</ion-card-title>
              </div>
              <div class="containerDate">
                <ion-label>Fecha de Publicacion:{{convocatoria.fecha_actual}}</ion-label>
                <ion-label>Fecha limite para presentacion de Documentos:{{convocatoria.fecha_limite}}</ion-label>
              </div>
            </button>

        </ion-card>
      </div>

  </div>
</ion-content>
