.container{
    width: 70%;
    margin: auto;
}
.containerCardBtn{
    width: 100%;
    background-color: #92949c;
    color: white;
}
.containerCards{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cardTittle{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: initial;
}
ion-card{
    width: 100%;
}
.containerDate{
    width: 100%;
    margin: auto;
    padding: 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}